body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
}
button {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
}
a {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}
div,
p,
span,
ul,
li {
  font-family: "Ubuntu", sans-serif;
}
